{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "react/forbid-prop-types": "off",
    "linebreak-style": 0,
    "class-methods-use-this": "off",
    "guard-for-in": "off",
    "guard-for-in": "off"
  },
  "parser": "babel-eslint"
}