{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "react/forbid-prop-types": "off",
    "linebreak-style": 0
  },
  "parser": "babel-eslint"
}